body {
    color: white;
    background-color: black;
}

#grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 35px 1fr;
    grid-template-rows: 100px repeat(10, 35px);
    background-color: darkblue;
    overflow: scroll;
}

#grid-header {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 200px 35px repeat(37, 35px);
}

.grid-header-item {
    background-color: lightgray;
    border: 0.5px solid black;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 1.5em;
}

.weeknight {
    grid-template-columns: repeat(37, 35px);
    grid-template-rows: 100px repeat(10, 35px);
}

.weekend {
    grid-template-columns: repeat(41, 35px);
    grid-template-rows: repeat(10, 35px);
}

#subgrid {
    display: grid;
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    overflow: scroll;
}

.grid-item {
    font-size: 16px;
    font-weight: bold;
    background-color: gray;
    border: 0.5px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    outline: none;
    box-sizing: border-box;
}

.grid-item:focus {
    border: white 2px dotted;
}

.grid-item:invalid {
    border: red 2px dotted;
    background-color: linear-gradient(red white);
}

.grid-item {
    text-align: center;
}

.grid-item input[type="text"] {
    height: 100%;
    width: 100%;
    text-align: center;
}

.S {
    background-color: blue;
    color: lightskyblue;
}

.A {
    background-color: yellow;
    color: black;
}

.R {
    background-color: green;
    color: white;
}

.SN {
    background-color: teal;
    color: white;
}

.ST {
    background-color: teal;
    color: white;
}

.SW {
    background-color: teal;
    color: white;
}

.NM {
    background-color: black;
    color: white;
}

.GT {
    background-color: beige;
    color: black;
}

.B, .EOS {
    background-color: white;
    color: black;
}

.D {
    background-color: red;
    color: white;
}

.M {
    background-color: lightblue;
    color: darkblue;
}

.I {
    background-color: olivedrab;
    color: white;
}

.V, .H, .AW, .DT {
    background-color: purple;
    color: white
}