body {
    color: white;
    background-color: gray;
    font-family: sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

#grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 35px 1fr;
    grid-template-rows: 100px repeat(10, 35px);
    background-color: #282828;
    overflow: scroll;
}

#grid-container > div {
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

div#grid-header {
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 200px 35px repeat(37, 35px);
}

.grid-header-item {
    background-color: lightgray;
    border: 0.5px solid black;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
}

.weeknight {
    grid-template-columns: repeat(37, 35px);
    grid-template-rows: 100px repeat(10, 35px);
}

.weekend {
    grid-template-columns: repeat(41, 35px);
    grid-template-rows: repeat(10, 35px);
}

.grid-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

.bed-header {
    font-size: 1em;
    writing-mode: vertical-lr;
    height: 100%;
}

div#subgrid {
    display: grid;
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    overflow: scroll;
    border: none;
    justify-content: left;
}

.grid-item {
    font-size: 16px;
    font-weight: bold;
    background-color: #282828;
    border: 0.5px solid black;
    height: 100%;
    width: 100%;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.grid-item:focus {
    border: white 2px dotted;
}

.grid-item:invalid {
    border: red 2px dotted;
    background-color: linear-gradient(red white);
}

.grid-item {
    text-align: center;
    height: 100%;
    width: 100%;
}

.grid-item input[type="text"] {
    height: 100%;
    width: 100%;
    text-align: center;
}

.selected {
    border: yellow 2px dashed;
}

#input-modal {
    background-color: #777777;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: max-content;
    position: absolute;
    left: 0;
    top: 0;
}

#input-modal.visible {
    display: block;
}

.modal-body {
    display: grid;
    grid-template-columns: 35px 35px;
    grid-auto-rows: 35px;
}

.S {
    /* background-color: blue; */
    color: lightskyblue;
}

.A {
    /* background-color: yellow; */
    color: yellow;
}

.R {
    /* background-color: green; */
    color: lightgreen;
}

.SN, .ST, .SW {
    /* background-color: teal; */
    color: rgb(0, 230, 230);
}

.NM {
    background-color: black;
    color: white;
}

.GT {
    /* background-color: beige; */
    color: beige;
}

.B, .EOS {
    /* background-color: white; */
    color: white;
}

.D {
    /* background-color: red; */
    color: red;
}

.M {
    /* background-color: lightblue; */
    color: lightgray;
}

.I {
    /* background-color: olivedrab; */
    color: rgb(173, 230, 61);
}

.V, .H, .AW, .DT {
    background-color: purple;
    color: white
}